[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  background: #f7f7f7;
  border-radius: 2px;
  margin: 24px 0;
  border: 0px;
  overflow: hidden;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    font-weight: 600;
}