
@mixin flexbox( $main: flex-start, $second: flex-start, $direction: row, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $main;
    align-items: $second;
    flex-wrap: $wrap;
}