@font-face {
    font-family: 'Roboto Slab Regular';
    src: url('RobotoSlab-Regular.ttf');
    src:url('RobotoSlab-Regular.ttf') format('truetype');

    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab Bold';
    src: url('RobotoSlab-Bold.ttf');
    src:url('RobotoSlab-Bold.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab Light';
    src: url('RobotoSlab-Light.ttf');
    src:url('RobotoSlab-Light.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('Roboto-Regular.ttf');
    src:url('Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('Roboto-Medium.ttf');
    src:url('Roboto-Medium.ttf') format('truetype');
    font-style: normal;
}

